<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campaign Successful!</title>
    {% load static %}
    <link rel ="stylesheet" href="{%static 'css/submit.css' %}"
</head>
<body>
    <div class="container">
        <h2>Your Campaign {{tab}} created Successfully</h2>
        <h3>Use below code to join this Campaign</h3>
        <h3>{{uid}}</h3>
        <div class="btns">
            <a href="crelection">homepage</a>
            <button>Share</button>
        </div>
        
    </div>
    
   
    
</body>
</html>